@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
.font-class{
    font-family: 'Gruppo', sans-serif;
    font-weight: 600;
}
.heading{
    border-bottom: 1px solid black;
    margin-top: -2vw;
}
.main-heading{
    /* border: 1px solid seagreen; */
    font-size: 8vw;
    text-transform: uppercase;
    margin: 0;
    margin-left: 2vw;
    padding: 1vw;
}
.content-team{
    height: 70vh;
    /* border: 1px solid red; */
    margin-left: 2vw;
    display: flex;
    max-width: 95vw;
}
.names{
    min-width: 60%;
    /* border: 1px solid green; */
}

.att{
    font-size: 4vw;
    margin: 0.5vw;
    padding: 0.5vw;
    margin-left: 5vw;
    /* padding-right: 5vw; */
    /* border: 1px solid yellow; */
    /* display: inline; */
    max-width: 60vw;
}
.name-2{
    margin-left: 10vw;
    /* padding-left: 10vw; */
    
}
.name-3{
    margin-left: 1vw;
}
.name-4{
    margin-left: 12vw;
}
.name-5{
    margin-left: 3vw;
}
.name-6{
    margin-left: 7vw;
}
.name-3{
    margin-left: 1vw;
}

.info{
    min-width: 30%;
    /* border: 1px solid orange; */
    margin: 1vw;
    display: flex;
    /* visibility: hidden; */
}
.profile-img{
    /* visibility: hidden; */
    width: 12vw;
    height: 15vw;
    /* width: 230px;
    height: 288px; */
    /* border: 1px solid red; */
    border-radius: 2px;
    box-shadow: 5px 5px 25px black;
}
.att:hover .profile-img{
    visibility: visible;
}
.f-box{
    /* border: 1px solid red; */
    display: block;
    margin: 2vw;
    margin-top: 0vw;
    padding: 1vw;
    max-height: 15vw;
}
.profile-name{
    font-size: 1.4vw;
}
.profile-desc{
    line-height: 1.5;
}